@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);
  --clr-brown-800: hsl(14, 45%, 36%);
  --clr-rose-800: hsl(332, 51%, 32%);
  --clr-rose-50: hsl(330, 100%, 98%);

  --ff-title: "Young Serif", serif;
  --ff-base: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
} */

#root, #__next {
  isolation: isolate;
}

/* 
  style
*/

.page {
  background-color: var(--clr-stone-100);
  font-family: var(--ff-base);
}

.c-content {
  --content-text-spacing: 2rem;
  --content-text-padding-vertical: 2.5rem;
  --content-text-padding-horizontal: 2rem;

  --content-prep-padding: 1.5rem;

  background-color: var(--clr-white);
}

.c-content__img {
  width: 100%;
  height: 171px;
}

.c-content__text {
  padding: var(--content-text-padding-vertical) var(--content-text-padding-horizontal);
  display: flex;
  flex-direction: column;
  gap: var(--content-text-spacing);
}

.c-content__title-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.c-content__prep {
  background-color: var(--clr-rose-50);
  padding: var(--content-prep-padding);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* margin still not set properly yet */
.c-content__prep-list {
  margin-left: var(--content-prep-padding);
}

.c-content__prep-item {
  padding-left: 1rem;
}

.c-content__prep-item::marker {
  color: var(--clr-rose-800);
}

.c-content__ing {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* margin still not set properly yet */
.c-content__ing-list {
  margin-left: 24px;
}

.c-content__ing-item {
  padding-left: 1rem;
}

.c-content__ins {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* margin still not set properly yet */
.c-content__ins-list {
  margin-left: 24px;
}

.c-content__ins-item {
  padding-left: 1rem;
}

.c-content__ins-item::marker {
  color: var(--clr-brown-800);
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  line-height: 150%;
}

.c-content__nutrition {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Using separate to add spacing, but can not add table line */
/* .c-content__nutrition-table {
  border-collapse: separate;
  border-spacing: 32px 12px;
} */

.c-content__nutrition-table {
  border-collapse: collapse;
}

.c-content__nutrition-table-tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding: 0.75rem 2rem;

  border-bottom: 1px solid var(--clr-stone-150);
}

.c-content__nutrition-table-tr:first-child {
  padding-top: 0;
}

.c-content__nutrition-table-tr:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.c-content__nutrition-table-tr > *:first-child {
  color: var(--clr-stone-600);
}

.c-content__nutrition-table-tr > *:last-child {
  color: var(--clr-brown-800);
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  line-height: 150%;
}

.c-attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 1rem;

  @media screen and (min-width: 48em) {
    display: none;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 48em) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 48px;
  }

  .c-content {
    max-width: 616px;
    border-radius: 1.5rem;
  }

  .c-content__media {
    border-radius: 0.75rem;
    margin: 40px;
    margin-bottom: 0;
    overflow: hidden;
  }

  .c-content__img {
    height: 300px;
  }

  .c-content__text {
    padding: 40px;
  }
}

@media screen and (min-width: 90em) {
  .c-content {
    max-width: 736px;
  }
}

/* 
  Utility classes.
  Class name based on text preset and color in Figma.
*/

.u-text-preset-1 {
  font-family: var(--ff-title);
  font-weight: var(--fw-regular);
  font-size: 2.25rem;
  line-height: 100%;
}

.u-text-preset-2 {
  font-family: var(--ff-title);
  font-weight: var(--fw-regular);
  font-size: 1.75rem;
  line-height: 100%;
}

.u-text-preset-3 {
  font-family: var(--ff-base);
  font-weight: var(--fw-semi-bold);
  font-size: 1.25rem;
  line-height: 100%;
}

.u-text-preset-4 {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  line-height: 150%;
}

.u-text-preset-4-bold {
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  line-height: 150%;
}

.u-font-color-stone-900 {
  color: var(--clr-stone-900);
}

.u-font-color-stone-600 {
  color: var(--clr-stone-600);
}

.u-font-color-rose-800 {
  color: var(--clr-rose-800);
}

.u-font-color-brown-800 {
  color: var(--clr-brown-800);
}

.u-hr-color {
  height: 1px;
  background-color: var(--clr-stone-150);
  border: none;
}

.u-list-gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}